{
  "presets": [
    ["@babel/env", {
      "targets": {
        "browsers": ["last 2 versions", "safari >= 7"]
      },
      "shippedProposals": true
    }],
    "@babel/react"
  ],
  "plugins": [
    "transform-flow-strip-types",
    "@babel/plugin-proposal-class-properties",
    ["react-css-modules", {
      "generateScopedName": "__[name]__[local]___[hash:base64:5]",
      "webpackHotModuleReloading": true,
      "handleMissingStyleName": "warn"
    }],
    "react-hot-loader/babel"
  ]
}