{
  "presets": [
    ["@babel/env", {
      "targets": {
        "browsers": ["last 2 versions", "safari >= 7"]
      },
      "shippedProposals": true
    }],
    "@babel/react"
  ],
  "plugins": [
    "transform-flow-strip-types",
    "@babel/plugin-proposal-class-properties",
    "react-css-modules",
    "react-hot-loader/babel"
  ]
}