svg {
    /* TEMP HACK FIX */
    padding-left: 300px;
    width: 100%;
    height: 100%;

    cursor: move;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

svg.grabbing { 
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}


text {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-anchor: middle;
    pointer-events: none;
}

.node:hover ellipse {
    fill-opacity: 0.7;
    cursor: pointer;
}

.edges .use path {
    fill: none;
    stroke: purple;
}
.edges .use polygon {
    fill: purple;
    stroke: purple;
}

.edges .def path {
    fill: none;
    stroke: black;
}
.edges .def polygon  {
    fill: black;
    stroke: black;
}

.graph-ctn {
    height: 100%;
}