.infoView {
    width: 300px;
    min-height: 100%;
    max-height: 100%;
    overflow: scroll;

    position: fixed;
    top: 0;
    left: 0;

    background: #f7f7f7;
    box-shadow: 1px 1px 4px #e0e0e0;
}

.search {
    background: white;
    border: none;
    border-bottom: 1px solid rgba(230,230,230,0.7);
    font-size: 16px;
    width: 100%;
}

.search input {
    width: 100%;
}

.results > div {
    padding: 0.5em;
    background: white;
    transition: all 50ms;
}

.results > div:hover {
    background: whitesmoke;
    cursor: pointer;
}


.debug {
    width: 100px;
}

.depth {
    width: 3em;
}

