.ui-overlay {
    position: absolute;
    top: 0;
    left: 0;
}


.sidebar {
    width: 325px;
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100vh;

    user-select: none;
}

.ui-pane {
    background: white;
    box-shadow: 1px 0px 5px #8080803b;
}

.ui-pad {
    padding: 0.5rem 0rem;
}

.ui-rows-pad > * {
    margin: 0.5rem 0;
}




.options {
    height: 2em;
    width: 70%;
}



.debug {
    width: 100px;
}

.depth {
    width: 3em;
}

