body {
    font-family: "Helvetica Neue", sans-serif;
}

.ctn {
}

.ctn #react-mount {
    min-width: 300px;
    min-height: 400px;

    position: fixed;
    background: white;
    color: #333;
    box-shadow: rgba(230,230,230,0.7) 1px 1px;
    top: 0;
    right: 0;
    margin: 1em;
    border: 1px solid rgba(230,230,230,0.7);
}

#react-mount .search {
    background: white;
    border: none;
    border-bottom: 1px solid rgba(230,230,230,0.7);
    padding: 1em 0.5em;
    font-size: 16px;
    width: 100%;
}

text {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-anchor: middle;
    pointer-events: none;
}

path.link {
    fill: none;
    stroke: #666;
    stroke-width: 1.5px;
  }

.nodes circle {
    stroke: black;
    stroke-width: 1px;
}

.nodes circle:hover {
    fill: rgb(214, 214, 214);
    cursor: pointer;
}